body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}
.buttons > R

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.buttons{
	font-size: 16px;
	background-color: rgb(255, 239, 173);
	border-radius: 8px;
	padding:0.3em 1.0em;
}
#restRNG-name{
	font-size: 24pt;
	color: crimson;
	font-weight: bold;
}
#restRNG-address{
	font-size: 18pt;
	color: rgb(87, 57, 0)
}
#restRNG-phone{
	font-size: 18pt;
	color: rgb(87, 57, 0)
}